<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>METEO EN FRANCE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>
  <body ng-app="ekiMeteo">
    <div class="main" ng-controller="MainController" ng-cloak>
      <!-- form -->
      <div class="container form">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <form class="form-inline text-center flex-input">
              <input type="text" id="ville" class="form-control" name="city" ng-model="city" placeholder="Paris" uib-typeahead="town for town in towns | filter:$viewValue | limitTo:8" typeahead-min-length="0" required>
              <datepicker date-format="dd/MM/yyyy" date-max-limit="{{minDate}}">
                <input class="form-control" name="date" ng-model="date" type="text" placeholder="07/04/2011" required/>
              </datepicker>
              <button type="submit" ng-click="updateData()" class="btn btn-search">rechercher</button>
            </form>
          </div>
        </div>
      </div>
      <!-- histogram of temperatures in D3 -->
      <div class="container marged-top">
        <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
          <h4 class="test">Évolution de la température à {{ city }}, le {{ date | date: "fullDate" }}:</h4>
          <bar-chart height="350" data="data"></bar-chart>
        </div>
        </div>
      </div>

    </div>
  </body>
</html>
